<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witty.mapper.RoleMapper">
    <sql id="roleColumn">
        id, name, avatar, voice_url, voice_id, content, description, tag_id, create_by, create_time, update_time
    </sql>

    <resultMap id="roleResultMap" type="com.witty.entity.Role">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="avatar" column="avatar" />
        <result property="voiceUrl" column="voice_url" />
        <result property="voiceId" column="voice_id" />
        <result property="content" column="content" />
        <result property="description" column="description" />
        <result property="tagId" column="tag_id" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <!--  新增角色  -->
    <insert id="create">
        INSERT INTO role (<include refid="roleColumn" />)
        values (null, #{name}, #{avatar}, #{voiceUrl}, #{voiceId}, #{content}, #{description}, #{tagId}, #{createBy}, now(), now())
    </insert>

    <!--  修改角色  -->
    <update id="update">
        UPDATE role
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="voiceUrl != null and voiceUrl != ''">voice_url = #{voiceUrl},</if>
            <if test="voiceId != null and voiceId != ''">voice_id = #{voiceId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="tagId != null and tagId != ''">tag_id = #{tagId},</if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

    <!--  根据角色ID查询角色  -->
    <select id="queryById" resultType="com.witty.entity.Role">
        SELECT <include refid="roleColumn" /> from role WHERE id = #{id}
    </select>

    <!--  分页查询角色  -->
    <select id="queryList" resultMap="roleResultMap">
        select <include refid="roleColumn" /> from role
        <where>
            <if test="name != null and name !=''">
                and name like concat("%",#{name},"%")
            </if>
            <if test="content != null and content !=''">
                and content like concat("%",#{content},"%")
            </if>
            <if test="description != null and description !=''">
                and description like concat("%",#{description},"%")
            </if>
            <if test="tagId != null and tagId !=''">
                and tag_id like concat("%",#{tagId},"%")
            </if>
        </where>
        order by create_time desc
    </select>

    <!--  根据角色ID删除角色  -->
    <delete id="remove">
        DELETE FROM role WHERE id = #{id}
    </delete>

    <!--  批量删除角色  -->
    <delete id="removes">
        DELETE FROM role WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>