<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witty.mapper.UserMapper">
    <sql id="userColumn">
        id, username, name, password, email, phone, gender, avatar, status, is_vip, coins, create_time
    </sql>

    <resultMap id="userResultMap" type="com.witty.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="gender" column="gender"/>
        <result property="avatar" column="avatar"/>
        <result property="status" column="status"/>
        <result property="isVip" column="is_vip"/>
        <result property="coins" column="coins"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--  新增用户  -->
    <insert id="create" parameterType="com.witty.entity.User">
        INSERT INTO user (<include refid="userColumn" />)
        VALUES (null, #{username}, #{name}, #{password}, #{email}, #{phone}, #{gender}, #{avatar}, #{status}, #{isVip}, #{coins}, now())
    </insert>

    <!--  修改用户  -->
    <update id="update" parameterType="com.witty.entity.User">
        UPDATE user
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isVip != null">is_vip = #{isVip},</if>
            <if test="coins != null">coins = #{coins}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!--  根据id查询用户  -->
    <select id="queryById" resultMap="userResultMap">
        SELECT <include refid="userColumn" /> FROM user where id = #{id}
    </select>

    <!--  分页查询用户  -->
    <select id="queryList" resultMap="userResultMap">
        SELECT <include refid="userColumn" /> FROM user
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="email != null and email != ''">
                AND email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="gender != null and gender != ''">
                AND gender = #{gender}
            </if>
            <if test="isVip != null and isVip != ''">
                AND is_vip = #{isVip}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time desc
    </select>

    <!--  根据用户id删除用户  -->
    <delete id="remove">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <!--  批量删除用户  -->
    <delete id="removes">
        DELETE FROM user WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>